.resume-box {
  margin-bottom: 40rpx;
  .section-box {
    padding: 30rpx;
    > .page__title {
      font-size: 36rpx;
    }
    .com_info {
      .page__title {
        font-size: 48rpx;
      }
    }
    .company_logo {
      border-radius: 50%;
      width: 120rpx;
      height: 120rpx;
    }
    .job_detail {
      margin-top: 30rpx;
      line-height: 60rpx;
      .page__title {
        font-size: 28rpx;
      }
      .page__desc {
        margin-left: 40rpx;
      }
    }
    .page__text__active  {
      text-align: center;
      font-weight: 500;
      font-size: 36rpx;
      margin-top: 20rpx;
      .page_card_icon {
        margin-left: 20rpx;
      }
    }
  }
}