var statusText = function (status) {
    var text = ''
    switch (status) {
        case 1:
            text = '待审核'
            break;
        case 2:
            text = '已通过'
            break;
        case 3:
            text = '未通过'
            break;
        default:
            text = ''
    }
    return text
}
var statusTeamText = function (status) {
    console.log(status)
    var text = ''
    switch (status) {
        case 0:
            text = '待审核'
            break;
        case 1:
            text = '已同意'
            break;
        case 2:
            text = '已拒绝'
            break;
        case 3:
            text = '已取消申请'
            break;
        case 4:
            text = '其他团队已接'
            break;
        default:
            text = ''
    }
    return text
}
module.exports = {
    statusText: statusText,
    statusTeamText: statusTeamText
}
